apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ui
    version: v1
  name: ui
spec:
  selector:
    matchLabels:
      app: ui
      version: v1
  template:
    metadata:
      labels:
        app: ui
        version: v1
    spec:
      containers:
        - image: fake-registry/fake-repo/invalid-image
          imagePullPolicy: Always
          name: ui
          ports:
            - containerPort: 3000
